[DEFAULT]

# log file name and location
# log-file =

# show debug output
# verbose = False

# log to standard error
# use-stderr = True

# log file directory
# log-dir

# log configuration file
# log-config-file =

[message]

# how to process parsed BGP message?

# Whether the BGP message is written to disk
# write_disk = True

# the BGP messages storage path
# write_dir = /home/bgpmon/data/bgp/

# The Max size of one BGP message file, the unit is MB
# write_msg_max_size = 500

[bgp]

# BGP global configuration items

# peer configuration file
# config_file =

# The interval to start each BGP peer
# peer_start_interval = 10

# The Global config for address family and sub address family
# afi_safi = ['ipv4']

# ===================== items for peer configuration ================================
# the following parameters will be ignored if conf_file is configured
# and this configuration only support one bgp peer, if you need start more peers in
# one softbgp process, please use conf_file to configure them.

# remote as number
# remote_as =

# remote ip address
# remote_addr =

# local as number
# local_as =

# local ip address
# local_addr =

# The MD5 string
# md5 =
