[DEFAULT]

# log file name and location
# log-file =

# show debug output
# verbose = False

# log to standard error
# use-stderr = True

# log file directory
# log-dir

# log configuration file
# log-config-file =

[message]

# how to process parsed BGP message?

# Whether the BGP message is written to disk
# write_disk = True

# the BGP messages storage path
# write_dir = /home/bgpmon/data/bgp/

# The Max size of one BGP message file, the unit is MB
# write_msg_max_size = 500

[bgp]

# BGP global configuration items

# peer configuration file
# config_file =

# The interval to start each BGP peer
# peer_start_interval = 10

# The Global config for address family and sub address family
# afi_safi = ['ipv4']

# ===================== items for peer configuration ================================
# the following parameters will be ignored if conf_file is configured
# and this configuration only support one bgp peer, if you need start more peers in
# one yabgp process, please use conf_file to configure them.

# remote as number
# remote_as =

# remote ip address
# remote_addr =

# local as number
# local_as =

# local ip address
# local_addr =

# The MD5 string
# md5 =

# ======================= BGP capacity =============================

# support 4 bytes AS
# four_bytes_as = True

# support route refresh
# route_refresh = True

# support cisco route refresh
# cisco_route_refresh = True

# BGP add path feature.This field indicates whether the sender is (a) able to receive
# multiple paths from its peer (value 1), (b) able to send
# multiple paths to its peer (value 2), or (c) both (value 3) for
# the <AFI, SAFI>.
# add_path = 1

[rest]
# Address to bind the API server to.
# bind_host = 0.0.0.0

# Port the bind the API server to.
# bind_port = 8801

# username and password for api server
# username = admin
# password = admin
